@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap");
.App {
  font-size: 1.5rem;
}
html,
body,
.App {
  font-family: "Inter", sans-serif;
  color: #222222;
  font-weight: 400;
  background-color: #fafafa;
}
span,
div,
p,
a,
button {
  font-family: inherit;
}
/* Typography*/
.titleFont,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin-bottom: 30px;
}
h1,
.h1 {
  font-size: 1.875rem;
}
h2,
.h2 {
  font-size: 1.875rem;
}
h3,
.h3 {
  font-size: 1.625rem;
}
h4,
.h4 {
  font-size: 1.125rem;
}
h5,
.h5 {
  font-size: 1rem;
}
h6,
.h6 {
  font-size: 0.8rem;
}
p {
  line-height: 1.7;
}
.extraH1,
.extraH2 {
  font-size: 2rem;
}
.textWhite {
  color: white;
}
a {
  color: #fb6694;
  text-decoration: underline;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
}
.center {
  text-align: center;
}

.gradientText {
  background-image: url(/images/heroImage.svg);
  background-position: 0% 8%;
  background-size: initial;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* Components */
.btn {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.188rem;
  font-weight: 500;
  padding: 1rem 2rem;
  background-color: #a68ee4;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out 0s;
}
.btn-xl {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 56px;
}
.btn-cta {
  padding: 1.25rem 3.75rem;
  background-color: #f23e84;
}
.font-24 {
  font-size: 1.5rem;
}
.font-regular {
  font-weight: 400;
}
.btn:hover,
.btn:focus {
  transform: scale(1.15);
}
.dot {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 1.5px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.purple {
  background-color: #a68ee4;
}
/* Sections */
.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 50px;
}
.smallContainer {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 30px;
}
.maxWidthFull {
  max-width: 100%;
}
#navbar ul li {
  display: inline-block;
  margin: 0 5px;

}
#navbar ul li * {
  display: inline-block;
  padding: 12px 15px;
  font-size: 1.188rem;
  border-radius: 24px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  color: inherit;
}
#navbar ul li *.active {
  background-color: #ffffff;
  color: inherit,
}
/* Tablet - md breakpoint */
@media only screen and (min-width: 768px) {
  .smallContainer {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 50px;
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.25rem 2.5rem;
    border-radius: 38px;
  }
}

/* Small Desktop - lg breakpoint */
@media only screen and (min-width: 992px) {
  h1,
  h2,
  h3 {
    margin-bottom: 30px;
  }
  h1,
  .h1 {
    font-size: 4.375rem;
  }
  h2,
  .h2 {
    font-size: 3.75rem;
  }
  h3,
  .h3 {
    font-size: 2.125rem;
  }
  h4,
  .h4 {
    font-size: 1.5rem;
  }
  h5,
  .h5 {
    font-size: 1.188rem;
  }
  h6,
  .h6 {
    font-size: 1rem;
  }
  .extraH1 {
    font-size: 4.5rem;
  }
  .extraH2 {
    font-size: 4rem;
  }
}

/* Desktop - xl breakpoint */
@media only screen and (min-width: 1200px) {
  h1,
  h2,
  h3 {
    margin-bottom: 30px;
  }
  h1,
  .h1 {
    font-size: 4.375rem;
  }
  h2,
  .h2 {
    font-size: 3.75rem;
  }
  h3,
  .h3 {
    font-size: 2.125rem;
  }
  h4,
  .h4 {
    font-size: 1.5rem;
  }
  h5,
  .h5 {
    font-size: 1.188rem;
  }
  h6,
  .h6 {
    font-size: 1rem;
  }
  .extraH1 {
    font-size: 4.5rem;
  }
  .extraH2 {
    font-size: 4rem;
  }
}

/* Large Desktop - xxl breakpoint */
@media only screen and (min-width: 1500px) {
}
