@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500&display=swap');

.App{
    font-family: 'Inter', sans-serif;
    color: #222222;
    font-size:1.5rem;
    font-weight: 400;
}
/* Typography*/
.titleFont,h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;  
    font-weight: 500;
}
h1,h2,h3{
    margin-bottom:30px;
}
h1,.h1{
    font-size:4.375rem;
}
h2,.h2{
    font-size:3.75rem;
}
h3,.h3{
    font-size:2.125rem;
}
h4,.h4{
    font-size:1.5rem;
}
h5,.h5{
    font-size:1.188rem;
}
h6,.h6{
    font-size:1rem;
}
p{
    line-height:1.7;
}
.extraH1{
    font-size:4.5rem;
}
.extraH2{
    font-size:4rem;
}
.textWhite{
    color:white;
}
.center{
    text-align:center;
}
.gradientText{
    background-image: url(/assets/heroImage.svg);
    background-position:0% 8%;
    background-size:initial;
    -webkit-background-clip: text;
	background-clip: text;
    color:transparent;
}
/* Sections */
.container{
    max-width: 80rem;
    margin:0 auto;
}
